Q1

In [0]:
num= input("Enter Value to find Factorial:");
num=int(num);
def Factorial(num):
    num2=1;
    if num>=1:
        for i in range(1,num+1):
            num2=num2*i;
        print("Factorial of a", num , "=", num2);
    else:
        print("Invalid Value Enter");
Factorial(num);

Enter Value to find Factorial:5
Factorial of a 5 = 120

Q2

In [0]:
def CountUpperLower(strng):
    upper=0;
    lower=0;
    for i in stns:
        if i>="A" and i<="Z":
            upper +=1;
        elif i>="a" and i<="z":
            lower +=1;
    print("Upper case",upper);
    print("Lower case", lower);

strng = input("Enter String:");
CountUpperLower(strng);

Q3

In [0]:
List = [];
n = int(input("Enter number of element you want to enter: "));
for i in range(0, n):
    number= int(input());
    List.append(number)
def EvenNum(List):
  for number in List:
        if number % 2==0:  
            print(number, end =", ");
EvenNum(List);

Enter number of element you want to enter: 4
2
5
4
7
2, 4,

Q4

In [0]:
num = int(input("Enter num to check it is prime or not: "));
def checkPrime(num):
    if num>1:
        for i in range(2,num//2):
            if(num % i)==0:
                print(num, " is not a prime");
                break;
            else:
                print(num, "is a prime number ");
    else:
        print(num, "is not a prime number");

checkPrime(num);

Q5

In [0]:
def checkPaln(string):
    if(string==string[::-1]):
        print("The string is a palindrome")
    else:
        print("Not a palindrome")
string= input("Etner word to check is it Palindrome: ");
checkPaln(string)

Q6

In [3]:
def myFun(arg1, *argv): 
    print ("First item in shopping list :", arg1) 
    for arg in argv: 
        print("Next item in shopping list :", arg) 
  
myFun('juice', 'bread', 'milk', 'eggs')

First item in shopping list : juice
Next item in shopping list : bread
Next item in shopping list : milk
Next item in shopping list : eggs